In [82]:
# Création du dataset des données

In [ ]:
# Motivations : Créer rapidement et tester une structure à petite dimension pouvant généraliser nos données brutes

In [ ]:
# Cet algorithme sera par ailleurs utilisé pour les jeux de données après tests

In [83]:
import numpy as np
import pandas as pd

In [84]:
data = np.zeros((4,4))
operations= ([[ '2013-03-06',  1,  4,  8],[ '2013-03-08', 4, 2, 1],[ '2013-03-06', 3,  1,  9],[ '2013-03-09', 2, 3, 8],[ '2013-03-07', 1, 4, 10]])
essai_dataframe = pd.DataFrame(operations)
print(operations)

[['2013-03-06', 1, 4, 8], ['2013-03-08', 4, 2, 1], ['2013-03-06', 3, 1, 9], ['2013-03-09', 2, 3, 8], ['2013-03-07', 1, 4, 10]]

In [85]:
# En-tête du nouveau tableau
en_tete_liste = ['Date', 'site_src', 'site_dest', 'nb_sms']
essai_dataframe.columns = en_tete_liste

In [86]:
print(essai_dataframe)

         Date  site_src  site_dest  nb_sms
0  2013-03-06         1          4       8
1  2013-03-08         4          2       1
2  2013-03-06         3          1       9
3  2013-03-09         2          3       8
4  2013-03-07         1          4      10

In [87]:
org = essai_dataframe.groupby('Date')

In [88]:
print(org)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f4cc70876d0>

In [89]:
# Construire la liste des Dates
dates = [] 
for i in essai_dataframe['Date'] : 
    if i not in dates: 
        dates.append(i)

In [90]:
print(dates)

['2013-03-06', '2013-03-08', '2013-03-09', '2013-03-07']

In [91]:
dates.sort()

In [92]:
print(dates)

['2013-03-06', '2013-03-07', '2013-03-08', '2013-03-09']

In [93]:
# Construire la liste des Sites non classée
sites = [] 
for i in essai_dataframe ['site_src'] : 
    if i not in sites: 
        sites.append(i)

In [94]:
print(sites)

[1, 4, 3, 2]

In [95]:
# Ordonner la liste
sites.sort()

In [96]:
print(sites)

[1, 2, 3, 4]

In [97]:
df = pd.DataFrame(data=data,index=sites,columns=sites)

In [98]:
df

     1    2    3    4
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0

In [99]:
df.loc[1,1] = 0

In [100]:
df

     1    2    3    4
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0

In [101]:
print(essai_dataframe)

         Date  site_src  site_dest  nb_sms
0  2013-03-06         1          4       8
1  2013-03-08         4          2       1
2  2013-03-06         3          1       9
3  2013-03-09         2          3       8
4  2013-03-07         1          4      10

In [102]:
i = 0
dest = len(sites)
for site in sites:
    print("Site : " + str(site))
    for date in dates:
        for i in (essai_dataframe.index):
            if(essai_dataframe.loc[i,"Date"] == date and essai_dataframe.loc[i,"site_src"] == site):
                while(essai_dataframe.loc[i, "site_dest"] != dest & dest > 0):
                    dest = dest - 1
                    print("Réduction")
                print(essai_dataframe.loc[i,"Date"])
                print(essai_dataframe.loc[i,"site_dest"])
                if(dest > 0):
                    df.loc[site,dest] = essai_dataframe.loc[i,"nb_sms"] + df.loc[site,dest]
            dest = len(sites)

Site : 1
2013-03-06
4
2013-03-07
4
Site : 2
Réduction
2013-03-09
3
Site : 3
Réduction
Réduction
Réduction
2013-03-06
1
Site : 4
Réduction
Réduction
2013-03-08
2

In [103]:
df

     1    2    3     4
1  0.0  0.0  0.0  18.0
2  0.0  0.0  8.0   0.0
3  9.0  0.0  0.0   0.0
4  0.0  1.0  0.0   0.0

In [104]:
df.to_csv('dataset_exemple.csv')